In [24]:
import pandas as pd
import math

path = "./fifth_2023_tournament_contacts_phone.csv"
stage_sms = "./sms_stage.txt"

MESSAGE = """
    TEST MESSAGE
"""

df = pd.read_csv(path)
df["phone_cleaned"] = df["phone"].apply(lambda x: (str(x).replace("+", "")
                                                         .replace("(", "")
                                                         .replace(")", "")
                                                         .replace(" ", "")
                                                         .replace("-", "")))
df["phone_clean_with_country_code"] = df["phone_cleaned"].apply(
lambda x: "1" + str(x) if len(str(x)) == 10 else str(x)
)

df.head()

              phone phone_cleaned phone_clean_with_country_code
0        9174123069    9174123069                   19174123069
1  (646) 465 - 4404    6464654404                   16464654404
2        6313597959    6313597959                   16313597959
3        3474842296    3474842296                   13474842296
4    (347) 806-1780    3478061780                   13478061780

In [27]:
FORMATTED_PHONES = " ".join(df["phone_clean_with_country_code"])
FORMATTED_PHONES

'19174123069 16464654404 16313597959 13474842296 13478061780 13477618738 13475495301 13475495301 17183087930 13472499176 19172442439 15167245049 15854513603 15854892342 15854513603 13476505486 13472869648 19176098116 16462472051 16462472051 13477746516 13477550238 16315263852 18622329379 19177967905 19175207329 18173602704 19175396116 16313597959 13475366154 16463714701 16463714701 19295515453 19295515453 17183087930 13472499176 19172442439 15168007030 15854513603 15854513603 15854513603 13479683376 13472869648 16466831781 19292390398 19292390398 13477746516 16465122721 16315263852 13472499176'

In [ ]:
recipients="12348176903 12146998640"
message="Testing message"

In [ ]:
with open(stage_sms, "w") as f:
    f.writelines()